h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

img {
    display: block;
    max-width: 100%;
}

/* Phone styles header */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
    display: flex;
    align-items: center;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: none;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.logo-black-header {
    color: #2e2f42;
}

.btn-open-burger {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
}

.page-contact {
    font-style: normal;
    margin-left: auto;
    display: none;
}

/* Tablet styles header */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .menu {
        display: flex;
        gap: 40px;
    }
    .btn-open-burger {
        display: none;
    }
    .page-contact {
        display: block;
    }
    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .logo-header {
        margin-right: 130px;
    }
    .menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404bbf;
        height: 4px;
        width: 100%;
    }
    .address-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
}

/* Desktop styles header */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .logo-header {
        margin-right: 76px;
    }
    .contact-list {
        flex-direction: row;
        gap: 40px;
    }
    .address-link {
        font-size: 16px;
        line-height: 1.5;
    }
}

/* Phone styles hero */

.main-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero {
    margin-right: auto;
    margin-left: auto;
    background: #2e2f42;
    padding: 72px 0;
    background-size: cover;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero/people-office-phone.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-phone@2x.jpg);
    }
}

.btn-service-block {
    background: #4d5ae5;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    display: block;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-service-block:hover,
.btn-service-block:focus {
    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* tablet hero */

@media screen and (min-width: 768px) {
    .hero {
        background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/people-office-tablet.jpg");
        padding: 112px 0;
    }
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-tablet@2x.jpg);
    }
}
    .main-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07143;
        }

}


/* desktop hero */

@media screen and (min-width: 1158px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/people-office.jpg");
        padding: 188px 0 ;
        
    }
    @media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero/people-office@2x.jpg);
        }
    }
        .main-title {
            margin-bottom: 48px;
        }
}

/* phone benefits */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    padding: 96px 0;
}


.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-list-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.benefits-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-benefits {
    display: none;
}

.div-icon {
    max-width: 288px;
}


/* tablet benefits */

@media screen and (min-width: 768px) {
        .benefits {
        padding: 96px 0;
    }

    .benefits-list {
        gap: 24px;
        row-gap: 72px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .benefits-list-item {
        width: calc((100% - 48px) / 2);
    }

    .benefits-list-title {
        text-align: left;
}
}



/* desktop benefits */

@media screen and (min-width: 1158px) {
    .benefits {
            padding: 120px 0;
        }
    
        .benefits-list {
            gap: 24px;
        }
    
        .benefits-list-item {
            width: calc((100% - 72px) / 4);
        }

        .benefits-list-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: left;
        }
    
        .benefits-list-text {
            font-weight: 400;
        }
        .div-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            margin-bottom: 8px;
            box-sizing: border-box;
            border: 1px solid rgb(142, 143, 153);
            border-radius: 4px;
            background-color: #f4f4fd;
        }

        .icon-benefits {
            display: block;
        }
}

/* phone team */


.team {
    padding: 96px 0;
    background-color: #f4f4fd;
}


.team-list-item {
    margin-bottom: 72px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-list-team {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: auto;
}

.social-link-icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon-team:hover,
.social-link-icon-team:focus {
    background-color: #404bbf;
}

.team-item-name {
    padding: 32px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social-list-svg {
    fill: #f4f4fd;
}

.box-for-person {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* tablet team */

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        column-gap: 64px;
        justify-content: center;
        align-items: center;
    }
}


/* desktop team */

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        gap: 24px;
    }
}


/* phone portfolio */

.portfolio-overlay-text {
    display: none;
}

.section-portfolio {
    padding: 96px 0;
}

.portfolio-list-item {
    margin-bottom: 48px;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.portfolio-title-text {
    padding: 32px 16px;
    border-top: none;
    border: 1px solid #e7e9fc;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}